<p id="notice"><%= notice %></p>


<h3>Find Users</h3>
<% @users.each do |user| %>
    <% if user != current_user %>
        <p>
            <%= user.name %>

            <% if user.accepted == false && user.pending == false %>
              <%= link_to "[Add Friend]", add_friend_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
            <% end %>

            <% if user.accepted == nil && user.pending == nil %>
              <%= link_to "[Add Friend]", add_friend_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
            <% end %>

            <% if user.accepted == true && user.pending == false %>
              <%= link_to "[Unfriend]", unfriend_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
            <% end %>

            <% if user.accepted == false && user.pending == true && user.initiator == 'f' %>
              <%= link_to "[Accept Request]", accept_friendship_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
              <%= link_to "[Cancel Request]", cancel_request_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
            <% end %>

            <% if user.accepted == false && user.pending == true && user.initiator == 'u'  %>
              <%= link_to "[Cancel Request]", cancel_request_friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %>
            <% end %>
        </p>
    <% end %>
<% end %>


<h3>Friends</h3>
<% @friends.each do |friendship| %>
    <p>
        <%= friendship.friend.name %>

        <%= link_to "[Unfriend]", unfriend_friendships_path(user_id: current_user.id, friend_id: friendship.friend.id), method: :post %>
    </p>
<% end %>


<h3>Friendship requests</h3>
<% @friend_requests.each do |friendship| %>
    <p>
        <%= friendship.friend.name %>

        <%= link_to "[Accept Request]", accept_friendship_friendships_path(user_id: current_user.id, friend_id: friendship.friend.id), method: :post %>
        <%= link_to "[Cancel Request]", cancel_request_friendships_path(user_id: current_user.id, friend_id: friendship.friend.id), method: :post %>
    </p>
<% end %>


<h3>Friendships I requested</h3>
<% @my_friend_requests.each do |friendship| %>
    <p>
        <%= friendship.friend.name %>

        <%= link_to "[Cancel Request]", cancel_request_friendships_path(user_id: current_user.id, friend_id: friendship.friend.id), method: :post %>
    </p>
<% end %>






