<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @friendship.user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @friendship.friend_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @friendship.accepted %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @friendship.pending %>
</p>

<p>
  <strong>Initiator:</strong>
  <%= @friendship.initiator %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
